body
{
  margin: 5px;
}
.side{
  display: none;
  width: 100%;
}
.slider
{
  width: 50%;
  height: 25px;
  transform: translate(0,40%);
  opacity: 0.8;
}
form
{
  position: absolute;
  float: left;
  width: 70%;
}
.scals
{
  
  margin-top: 100px;
}
.shape-selector
{
  display: flex;
  flex-direction: row;
  padding: 25px;
  position: absolute;
  
}

.selector,button
{
  width: 70px;
  height: 70px;
  padding-top: 20px;
  padding-left: 10px;
  padding-right: 10px;
  margin: 10px;
  text-align: center;
  border: 1px solid gray;
  color: gray;
 
}
.selector:hover
{
  zoom: 1.1;
  box-shadow: 0 0 10px gray;
  cursor: pointer;
}
#submit
{
  position: absolute;
  float: right;
  margin-left: 150px;
}
.checked
{
  box-shadow: 0 0 10px #f3f3f3;
  color: gold;
  background-color: #f3f3f3;
}
#triangle_shape
{
  padding-top: 25px;
  height: 65px;
  font-size: 26pt;
  
}
#rectangle_shape
{
  padding-top: 25px;
  height: 65px;
  font-size: 26pt;
  
}
#square_shape
{
  font-size: 32pt;
}
button
{
  margin-left: 50px;
  margin-top: 20px;
  padding: 20px;
  width: 130px;
  height: 70px;
  color: white;
  background-color: darkcyan;
  opacity: 0.8;
  cursor: pointer;
  position: absolute;
  left: 250px;
}
button:hover
{
  opacity: 1;
}
#shape
{
  display: none;
}